{%extends 'base.html'%}
{% load bootstrap3 %}


{% block content %} 
{{ block.super}}


<!-- {{user.username}}
{{user.email}}
{{user.profile.pic}}
<img style="width:90%; height:400px;" id="imgCap"  src="{{user.profile.pic.url}}" href="" class="image" alt="Image" >

<h4>{{user.first_name}} {{user.profile.last_name}}</h4> -->

<header>
  <div class="container text-center">

      <!-- Logo -->
      <div class="logo">
      <h1><b>{{user.username}} </b></h1>
      </div>


  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h4 class="text-center"><strong> Profile </strong></h4>

      <hr>
      <div class="profile-card-4 text-center">
        <img style="width:90%; height:400px; border-radius: 50%;" id="imgCap"  src="{{user.profile.pic.url}}" href="" class="image" alt="Image" >
        <div class="profile-content">
              <div class="profile-name">John Doe
                  <p>@johndoedesigner</p>
              </div>
              <div class="profile-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</div>
              <div class="row">
                  <div class="col-xs-4">
                      <div class="profile-overview">
                          <p>Posts</p>
                          <h4>0</h4></div>
                  </div>
                  <div class="col-xs-4">
                      <div class="profile-overview">
                          <p>FOLLOWERS</p>
                          <h4>{{user.profile.likes}}</h4></div>
                  </div>
                  <div class="col-xs-4">
                      <div class="profile-overview">
                          <p>FOLLOWING</p>
                          <h4>168</h4></div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-sm-2" style="font-size: 5rem; padding-left: 20px; float:right;">

      <p class="list-inline-item">
        <a href="https://facebook.com/OscarGichana9" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </p>
      <p class="list-inline-item">
        <a href="https://www.instagram.com/ossy_gichy/" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </p>
      <p class="list-inline-item">
        <a href="https://github.com/OscarGichana" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </p>
    </ul>
</div>
</div>

  </div>
</div>

<img style="width:90%; height:400px; border-radius: 50%;" id="imgCap"  src="{{image.user.pic.url}}" href="" class="image" alt="Image" >

{% endblock %}